{% extends "layout.html.j2" %}

{% set DEBUG=False %}
{% set active_page="calculator/" %}

{% block extra_headers %}
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous"> #}
    <link rel="stylesheet" href="{{ calculator_prefix }}/static/css/form.css">
{% endblock extra_headers %}

{% block body_scripts %}
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script> #}
    <script src="{{ calculator_prefix }}/static/js/form.js"></script>
{% endblock body_scripts %}


{% block main %}

v{{ calculator_version }} <span style="float:right; font-weight:bold">Please send feedback to <a href="mailto:CARA-dev@cern.ch">CARA-dev@cern.ch</a></span>
{# This should probably be the same as the index logo and title  #}
<header class= "bg-light text-center">
  <div class="container container--narrow container--padding">
    <img src="/static/images/cara_logo.200x200.png" style="height: 7em; display:inline-block; vertical-align:middle; padding: 1em;">
    <h1><b>CARA - </b> COVID Airborne Risk Assessment calculator</h1>
  </div>
</header>

{% if DEBUG %}
<form id="covid_calculator" name="covid_calculator" onsubmit="return debug_submit(this)" class="form-inline">
{% else %}
<form id="covid_calculator" name="covid_calculator" action="{{ calculator_prefix }}/report" onsubmit="return validate_form(this)" method="POST">
{% endif %}
{{ xsrf_form_html }}

<input type="hidden" name="calculator_version" value="{{ calculator_version }}">

{# <div class="container-fluid"> #}
{# <div class="row"> #}
<section>
  <div class="container container--padding">
  <div class = "split">
  <div>
    <!-- General Options -->

    <div class="row">
      <label class="col-xl-3 col-lg-4 col-sm-3 col-form-label">Simulation name:</label>
      <input type="text" class="col-xl-5 col-lg-7 col-sm-7 col-7" name="simulation_name" placeholder="E.g. Workshop without masks" required>
    </div>

    <div class="row">
      <label class="col-xl-3 col-lg-4 col-sm-3 col-form-label">Room number:</label>
      <input type="text" class="col-xl-5 col-lg-7 col-sm-7 col-7" name="room_number" placeholder="E.g. 17/R-033" required>
    </div>

    <hr width="80%">
    <b>Virus data:</b>

    <div data-tooltip="Choose the SARS-CoV-2 Variant of Concern (VOC).">
        <span class="tooltip_text">?</span>
    </div>
    
    <br>

    <div class="row">
      <label class="col-xl-3 col-lg-4 col-sm-3 col-form-label">Variant:</label>
      <select id="Variant" name="virus_type" class="col-xl-5 col-lg-7 col-sm-7 col-7">
        <option value="SARS_CoV_2">SARS-CoV-2 (nominal strain)</option>
        <option value="SARS_CoV_2_B117">SARS-CoV-2 (Alpha VOC)</option>
        <option value="SARS_CoV_2_P1">SARS-CoV-2 (Gamma VOC)</option>
        <option value="SARS_CoV_2_B16172">SARS-CoV-2 (Delta VOC)</option>
      </select>
    </div>

    <hr width="80%">

    <b>Room data:</b>
    <div data-tooltip="The area you wish to study (choose one of the 2 options). Use GIS Portal or measure. Also indicate if a central (radiator-type) heating system is in use.">
        <span class="tooltip_text">?</span>
    </div>
    
    <br>

    <div class="row">
      <div class="col-xl-3 col-lg-4 col-sm-3">
        <input type="radio" id="room_data_volume" name="volume_type" value="room_volume_explicit" onclick="require_fields(this)" tabindex="-1" required>
        <label class="col-form-label">Room volume:</label>
      </div>
      <input type="number" step="any" id="room_volume" class="non_zero col-xl-3 col-lg-5 col-md-7 col-sm-3 col-3" name="room_volume" placeholder="Room volume (m³)" min="0" data-has-radio="#room_data_volume">
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-4 col-sm-3">
        <input type="radio" id="room_data_dimensions" name="volume_type" value="room_volume_from_dimensions" onclick="require_fields(this)" tabindex="-1" required>
        <label for="room_data_dimensions">Floor area:</label> &nbsp;&nbsp;
      </div>
      <input type="number" step="any" id="floor_area" class="non_zero col-xl-3 col-lg-5 col-md-7 col-sm-3 col-3" name="floor_area" placeholder="Room floor area (m²)" min="0" data-has-radio="#room_data_dimensions">
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-sm-3">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label for="room_data_dimensions">Ceiling height:</label> &nbsp;&nbsp;
      </div>
      <input type="number" step="any" id="ceiling_height" class="non_zero col-xl-3 col-lg-5 col-md-7 col-sm-3 col-3" name="ceiling_height" placeholder="Room ceiling height (m)" min="0" data-has-radio="#room_data_dimensions">
    </div>
    
    <br>

    Central heating system in use:
    <input type="radio" id="heating_no" name="room_heating_option" value=0 checked="checked">
      <label for="heating_no">No</label>&nbsp;&nbsp;
    <input type="radio" id="heating_yes" name="room_heating_option" value=1>
      <label for="heating_yes">Yes</label>&nbsp;&nbsp;

    <hr width="80%">

    <!-- Ventilation Options -->
    <b>Ventilation data:</b>
    <div data-tooltip="The available means of venting / filtration of indoor spaces.">
        <span class="tooltip_text">?</span>
    </div>
    
    <br>

    Ventilation type:
    <input type="radio" id="no_ventilation" name="ventilation_type" value="no_ventilation" checked>
      <label for="no_ventilation">No ventilation</label>&nbsp;&nbsp;
    <input type="radio" id="mechanical_ventilation" name="ventilation_type" value="mechanical_ventilation" data-enables="#DIVmechanical_ventilation">
      <label for="mechanical_ventilation">Mechanical</label>&nbsp;&nbsp;
    <input type="radio" id="natural_ventilation" name="ventilation_type" value="natural_ventilation" data-enables="#DIVnatural_ventilation">
      <label for="natural_ventilation">Natural</label><br>

    <div id="DIVmechanical_ventilation" class="tabbed" style="display:none">
        <input type="radio" id="mech_type_air_supply" name="mechanical_ventilation_type" value="mech_type_air_supply" onclick="require_fields(this)" tabindex="-1">
          <label for="mech_type_air_supply">Air supply flow rate</label> &nbsp;&nbsp;
        <input type="number" step="any" id="air_supply" class="non_zero" name="air_supply" min="0" placeholder="(m³ / hour)" data-has-radio="#mech_type_air_supply"><br>
        <input type="radio" id="mech_type_air_changes" name="mechanical_ventilation_type" value="mech_type_air_changes" onclick="require_fields(this)" tabindex="-1">
          <label for="mech_type_air_changes">Air changes per hour</label> &nbsp;&nbsp;
        <input type="number" step="any" id="air_changes" class="non_zero" name="air_changes" min="0" placeholder="(h⁻¹) only fresh air" data-has-radio="#mech_type_air_changes"><br>
    </div>

    <div id="DIVnatural_ventilation" class="tabbed" style="display:none">
        Number of windows: <input type="number" id="windows_number" class="non_zero" name="windows_number" min="1"><br>
        Height of window: <input type="number" step="any" id="window_height" class="non_zero" name="window_height" placeholder="meters" min="0"><br>
        Window type:
        <input type="radio" id="window_sliding" name="window_type" value="window_sliding" onclick="require_fields(this)" checked="checked">
          <label for="window_sliding">Sliding / Side-Hung</label>&nbsp;&nbsp;
        <input type="radio" id="window_hinged" name="window_type" value="window_hinged" onclick="require_fields(this)">
          <label for="window_hinged">Top- or Bottom-Hung</label>&nbsp;&nbsp;<br>
        Width of window: <input type="number" step="any" id="window_width" class="non_zero disabled" name="window_width" placeholder="meters" min="0" data-has-radio="#window_hinged"><br>
        Opening distance: <input type="number" step="any" id="opening_distance" class="non_zero" name="opening_distance" placeholder="meters" min="0"><br>
        Windows open:</span><br>
        <span class="tabbed"><input type="radio" id="windows_open_permanently" name="window_opening_regime" value="windows_open_permanently" onclick="require_fields(this)" checked="checked"></span>
          <label for="windows_open_permanently">Permanently</label><br>
        <span class="tabbed"><input type="radio" id="windows_open_periodically" name="window_opening_regime" value="windows_open_periodically" onclick="require_fields(this)"></span>
          <label for="windows_open_periodically">Periodically:</label>&nbsp;&nbsp;
        <input type="number" step="any" id="windows_duration" class="non_zero disabled" name="windows_duration" placeholder="Duration (min)" min="1" data-has-radio="#windows_open_periodically"> /
        <input type="number" step="any" id="windows_frequency" class="non_zero disabled" name="windows_frequency" placeholder="Frequency (min)" min="1" data-has-radio="#windows_open_periodically">
        <br>
    </div>

    HEPA filtration:
    <input type="radio" id="hepa_no" name="hepa_option" value=0 onclick="require_fields(this)" checked="checked">
      <label for="hepa_no">No</label>&nbsp;&nbsp;
    <input type="radio" id="hepa_yes" name="hepa_option" value=1 onclick="require_fields(this)">
      <label for="hepa_yes">Yes</label>&nbsp;&nbsp;
    <input type="number" step="any" id="hepa_amount" class="non_zero disabled" name="hepa_amount" placeholder="(m³ / hour)" min="0" data-has-radio="#hepa_yes">
    <hr width="80%">

    <b>Face masks:</b>
    <div data-tooltip="Masks worn at workstations or removed when a 2m physical distance is respected and proper venting is ensured.">
        <span class="tooltip_text">?</span>
    </div>
    
    <br>
    
    Are masks worn when occupants are at workstations?
    <input type="radio" id="mask_on" name="mask_wearing_option" value="mask_on" required>
      <label for="mask_on">Yes</label>&nbsp;&nbsp;
    <input type="radio" id="mask_off"  name="mask_wearing_option" value="mask_off" required checked="checked">
      <label for="mask_off">No</label><br>
    Type of masks used:
    <input type="radio" id="mask_type_1" name="mask_type" value="Type I" checked="checked" onclick="require_fields(this)">
      <label for="mask_type_1">Type 1</label>&nbsp;&nbsp;
    <input type="radio" id="mask_type_ffp2"  name="mask_type" value="FFP2" onclick="require_fields(this)">
      <label for="mask_type_ffp2">FFP2</label><br>
    <hr width="80%">

  </div>
  <div>

    <!-- Event Options -->
    <b>Event data:</b>
    <div data-tooltip="The total no. of occupants in the room and how many of them you assume are infected.">
        <span class="tooltip_text">?</span>
    </div><br>

    <div class="row">
      <label class="col-xl-3 col-lg-4 col-sm-3 col-form-label">Total number of occupants:</label>
      <input type="number" id="total_people" class="col-lg-4 col-md-5 col-sm-3" name="total_people" min=1 required>
    </div>

    <div class="row">
      <label class="col-xl-3 col-lg-4 col-sm-3 col-form-label">Number of infected people: </label>
      <input type="number" id="infected_people" class="col-lg-4 col-md-5 col-sm-3" name="infected_people" min=1 value=1 required><br>
    </div>

    <span id="training_limit_error" class="red_text" hidden>Training activities limited to 1 infected<br></span>
    <hr width="80%">

    Activity type:
    <select id="activity_type" name="activity_type">
      <option value="office">Office</option>
      <option value="meeting">Meeting</option>
      <option value="callcentre">Call Centre</option>
      <option value="controlroom-day">Control Room - Day shift</option>
      <option value="controlroom-night">Control Room - Night shift</option>
      <option value="library">Library</option>
      <option value="lab">Laboratory</option>
      <option value="workshop">Workshop</option>
      <option value="training">Training</option>
      <option value="gym">Gym</option>
    </select><br>
    Exposed person(s) presence: <br>
    <span class="tabbed">Start: </span><input type="time" id="exposed_start" class="start_time" data-time-group="exposed" data-lunch-break="exposed_lunch" name="exposed_start" value="08:30" required> &nbsp;&nbsp;
    Finish: <input type="time" id="exposed_finish" class="finish_time" data-time-group="exposed" data-lunch-break="exposed_lunch" name="exposed_finish" value="17:30" required><br>
    Infected person(s) presence: <br>
    <span class="tabbed">Start: </span><input type="time" id="infected_start" class="start_time" data-time-group="infected" data-lunch-break="infected_lunch" name="infected_start" value="08:30" required> &nbsp;&nbsp;
    Finish: <input type="time" id="infected_finish" class="finish_time" data-time-group="infected" data-lunch-break="infected_lunch" name="infected_finish" value="17:30" required><br>
    <hr width="80%">

    Which month is the event?
    <select id="event_month" name="event_month" value="January" required>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select><br>
    <hr width="80%">

    <span id="activity_breaks">
      <b>Activity breaks:</b>
      <div data-tooltip="Input breaks that, by default, are the same for infected/exposed person(s) unless specified otherwise.">
        <span class="tooltip_text">?</span>
      </div>
    </span><br>

    <!-- Lunch Options -->
    <input type="checkbox" id="infected_dont_have_breaks_with_exposed" name="infected_dont_have_breaks_with_exposed" value='1' onclick="toggle_split_breaks()">
      <label for="infected_dont_have_breaks_with_exposed">Input separate breaks for infected and exposed person(s)</label><br>
    <div id="DIVexposed_breaks" style="float:left; margin-left:10pt;">
      <span id="exposed_break_title" style="display:none;"><b>Exposed person(s) breaks:</b></span>
      <div style="padding:10px; border: 2px solid rgb(47, 52, 66);">
        Lunch break:&nbsp;&nbsp;
        <input type="radio" id="exposed_lunch_option_no" data-lunch-select="exposed" name="exposed_lunch_option" value=0 onclick="require_fields(this)">
          <label for="exposed_lunch_option_no">No</label>&nbsp;&nbsp;
        <input type="radio" id="exposed_lunch_option_yes" data-lunch-select="exposed" name="exposed_lunch_option" value=1 checked="checked" onclick="require_fields(this)">
          <label for="exposed_lunch_option_yes">Yes</label><br>

        Start: <input type="time" id="exposed_lunch_start" class="start_time" data-time-group="exposed_lunch" data-lunch-for="exposed" data-has-radio="#exposed_lunch_option_yes" name="exposed_lunch_start" value="12:30" required> &nbsp;&nbsp;
        Finish: <input type="time" id="exposed_lunch_finish" class="finish_time" data-time-group="exposed_lunch" data-lunch-for="exposed" data-has-radio="#exposed_lunch_option_yes" name="exposed_lunch_finish" value="13:30" required><br>

        <!-- Coffee Options -->
        Coffee Breaks:&nbsp;&nbsp;
        <input type="radio" id="exposed_coffee_break_0" name="exposed_coffee_break_option" value="coffee_break_0" checked="checked">
          <label for="exposed_coffee_break_0" >No breaks</label>&nbsp;&nbsp;
        <input type="radio" id="exposed_coffee_break_2" name="exposed_coffee_break_option" value="coffee_break_2">
          <label for="exposed_coffee_break_2">2</label>&nbsp;&nbsp;
        <input type="radio" id="exposed_coffee_break_4" name="exposed_coffee_break_option" value="coffee_break_4">
          <label for="exposed_coffee_break_4">4</label><br>

        Duration (minutes):
        <select id="exposed_coffee_duration" name="exposed_coffee_duration">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
        </select><br>
      </div>
      <br>
    </div>

    <div id="DIVinfected_breaks" style="display:none; float:left; margin-left:10pt;">
      <b>Infected person(s) breaks:</b>
      <div style="padding:10px; border: 2px solid rgb(47, 52, 66);">
        Lunch break:&nbsp;&nbsp;
        <input type="radio" id="infected_lunch_option_no" data-lunch-select="infected" name="infected_lunch_option" value=0 onclick="require_fields(this)">
          <label for="infected_lunch_option_no">No</label>&nbsp;&nbsp;
        <input type="radio" id="infected_lunch_option_yes" data-lunch-select="infected" name="infected_lunch_option" value=1 checked="checked" onclick="require_fields(this)">
          <label for="infected_lunch_option_yes">Yes</label><br>

        Start: <input type="time" id="infected_lunch_start" class="start_time" data-time-group="infected_lunch" data-lunch-for="infected" data-has-radio="#infected_lunch_option_yes" name="infected_lunch_start" value="12:30"> &nbsp;&nbsp;
        Finish: <input type="time" id="infected_lunch_finish" class="finish_time" data-time-group="infected_lunch" data-lunch-for="infected" data-has-radio="#infected_lunch_option_yes" name="infected_lunch_finish" value="13:30"><br>

        <!-- Coffee Options -->
        Coffee Breaks:&nbsp;&nbsp;
        <input type="radio" id="infected_coffee_break_0" name="infected_coffee_break_option" value="coffee_break_0" checked="checked">
          <label for="infected_coffee_break_0" >No breaks</label>&nbsp;&nbsp;
        <input type="radio" id="infected_coffee_break_2" name="infected_coffee_break_option" value="coffee_break_2">
          <label for="infected_coffee_break_2">2</label>&nbsp;&nbsp;
        <input type="radio" id="infected_coffee_break_4" name="infected_coffee_break_option" value="coffee_break_4">
          <label for="infected_coffee_break_4">4</label><br>

        Duration (minutes):
        <select id="infected_coffee_duration" name="infected_coffee_duration">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
        </select><br>
      </div>
      <br>
    </div>

    <br style="clear:both;">
    <i>Coffee breaks are spread evenly throughout the day.</i><br>
    {# <hr width="80%"> #}
    
    <br><br>
  </div> 
  </div>
  
</section>

<div class="center">
  <button type='submit' class="btn btn-primary bigButton" id="generate_report">
      Generate report
  </button>
</div>

<br><br>

<div class="container container--padding">
  <b>Quick Guide:</b><br>
  This tool simulates the long range airborne spread SARS-CoV-2 virus in a finite volume and estimates the risk of COVID-19 infection. It is based on current scientific data and can be used to compare the effectiveness of different mitigation measures.<br>
  <b>Virus data:</b> <br>
  SARS-CoV-2 covers typical strains of the virus and three variants of concern (VOC):<br>
  <ul>
    <li>Alpha (also known as B.1.1.7, first identified in UK, Dec 2020),</li>
    <li>Gamma (also known as P.1, first identified in Brazil/Japan, Jan 2021).</li>
    <li>Delta (also known as B.1.617.2, first identified in India, Oct 2020).</li>
  </ul>
  Choose variant according to local area prevalence, e.g. for <a href="https://www.covid19.admin.ch/fr/epidemiologic/virus-variants?detGeo=GE">Geneva</a>
  or <a href="https://www.santepubliquefrance.fr/dossiers/coronavirus-covid-19/covid-19-cartographie-des-variants-en-france-donnees-par-region-et-par-departement">Ain (France)</a>.<br>
  <b>Ventilation data:</b> <br>
  <ul>
    <li>Mechanical ventilation = the HVAC supply of fresh air. Check the flow rates with the concerned technical department.</li>
    <li>Natural ventilation = the type of window opening. The opening distance is between the fixed frame and movable part when open (commonly used values are window height of 1.6m and window opening between 0.15m and 0.6m). In case of periodic opening, specify the duration (e.g. for 10 min) and frequency (e.g. every 60 min).</li>
    <li>HEPA filtration = the air flow of the device. The following values are based on the different fan velocities of a specific commercial device proposed by the HSE Unit:</li>
    <ul>
        <li>Level 6 (max) = 430 m<sup>3</sup>/h (noisy),</li>
        <li>Level 5 = 250 m<sup>3</sup>/h (ok w.r.t. noise, recommended),</li>
        <li>Level 4 = 130 m<sup>3</sup>/h (silent),</li>
        <li>Level 3 = 95 m<sup>3</sup>/h (silent).</li>
    </ul>
  </ul>
  <b>Activity types:</b><br>
  The type of activity applies to both the infected and exposed persons:
  <ul>
    <li>Office = all seated, talking 33% of the time,</li>
    <li>Meeting = all seated, talking time shared between all persons,</li>
    <li>Call Centre = all seated, continuous talking,</li>
    <li>Control Room (day shift) = all seated, talking 50% of the time,</li>
    <li>Control Room (night shift) = all seated, talking 10% of the time,</li>
    <li>Library = all seated, no talking, just breathing,</li>
    <li>Laboratory = light physical activity, talking 50% of the time,</li>
    <li>Workshop = moderate physical activity, talking 50% of the time,</li>
    <li>Training = trainer standing and talking, rest seated and talking quietly.
    Trainer assumed infected (worst case scenario),</li>
    <li>Gym = heavy exercise, no talking, just breathing.</li>
  </ul>
  <b>Activity breaks:</b><br>
  <ul>
    <li>If coffee breaks are included, they are spread out evenly throughout the day,
    in addition to any lunch break (if applicable).</li>
  </ul>
  Refer to <a href="{{ calculator_prefix }}/user-guide"> COVID Calculator App user guide </a>
  for more detailed explanations on how to use this tool. <br>
</div>

<br><br>

<div class = "disclaimer">
  <div class="container container--padding">

    <h3 class="text-center">Disclaimer</h3>
    <br>
    <p>
        CARA is a risk assessment tool developed to model the concentration of viruses in enclosed spaces, in order to inform space-management decisions.
    </p>
    <p>
        CARA models the concentration profile of potential infectious viruses in enclosed spaces with clear and intuitive graphs.
        The user can set a number of parameters, including room volume, exposure time, activity type, mask-wearing and ventilation.
        The report generated indicates how to avoid exceeding critical concentrations and chains of airborne transmission in spaces such as individual offices, meeting rooms and labs.
    </p>
    <p>
        The risk assessment tool simulates the long-range airborne spread SARS-CoV-2 virus in a finite volume, assuming a homogenous mixture, and estimates the risk of COVID-19 infection therein.
        The results DO NOT include short-range airborne exposure (where the physical distance is a significant factor) nor the other known modes of SARS-CoV-2 transmission.
        Hence, the output from this model is only valid when the other recommended public health & safety instructions are observed, such as adequate physical distancing, good hand hygiene and other barrier measures.
    </p>
    <p>
        The model used is based on scientific publications relating to airborne transmission of infectious diseases, dose-response exposures and aerosol science, as of February 2021.
        It can be used to compare the effectiveness of different airborne-related risk mitigation measures.
    </p>
    <p>
        Note that this model applies a deterministic approach, i.e., it is assumed at least one person is infected and shedding viruses into the simulated volume.
        Nonetheless, it is also important to understand that the absolute risk of infection is uncertain, as it will depend on the probability that someone infected attends the event.
        The model is most useful for comparing the impact and effectiveness of different mitigation measures such as ventilation, filtration, exposure time, physical activity and
        the size of the room, only considering long-range airborne transmission of COVID-19 in indoor settings.
    </p>
    <p>
        This tool is designed to be informative, allowing the user to adapt different settings and model the relative impact on the estimated infection probabilities.
        The objective is to facilitate targeted decision-making and investment through comparisons, rather than a singular determination of absolute risk.
        While the SARS-CoV-2 virus is in circulation among the population, the notion of 'zero risk' or 'completely safe scenario' does not exist.
        Each event modelled is unique, and the results generated therein are only as accurate as the inputs and assumptions.
    </p>
    <p>
        CARA has not undergone review, approval or certification by competent authorities, and as a result, it cannot be considered
        as a fully endorsed and reliable tool, namely in the assessment of potential viral emissions from infected hosts to be modelled.
    </p>
  </div>
</div>

</form>

{% endblock main %}
