## Authors

<h4>Andre Henriques<sup>1</sup>, Luis Aleixo<sup>1</sup>, Marco Andreini<sup>1</sup>, Gabriella Azzopardi<sup>2</sup>, James Devine<sup>3</sup>, Philip Elson<sup>4</sup>, Nicolas Mounet<sup>2</sup>, Markus Kongstein Rognlien<sup>2,6</sup>, Nicola Tarocco<sup>5</sup></h4><br>

<sup>1</sup>HSE Unit, Occupational Health & Safety Group, CERN<br>
<sup>2</sup>Beams Department, Accelerators and Beam Physics Group, CERN<br>
<sup>3</sup>Experimental Physics Department, Safety Office, CERN<br>
<sup>4</sup>Beams Department, Controls Group, CERN<br>
<sup>5</sup>Information Technology Department, Collaboration, Devices & Applications Group, CERN<br>
<sup>6</sup>Norwegian University of Science and Technology (NTNU)<br>

## Acknowledgements

We wish to thank CERN’s HSE Unit, Beams Department, Experimental Physics Department, Information Technology Department, Industry, Procurement and Knowledge Transfer Department and International Relations Sector for their support to the study. Thanks to Doris Forkel-Wirth, Benoit Delille, Walid Fadel, Olga Beltramello, Letizia Di Giulio, Evelyne Dho, Wayne Salter, Benoit Salvant and colleagues from the COVID working group for providing expert advice and extensively testing the model. Finally, we wish to thank Fabienne Landua and the design service for preparing the illustrations and Alessandro Raimondo, Ana Padua and Manuela Cirilli from the Knowledge Transfer Group for their continuous support. Our compliments towards the work and research performed by world leading scientists in this domain: Prof. Manuel Gameiro, Prof. Shelly Miller, Prof. Linsey Marr, Prof. Jose Jimenez, Dr. Lidia Morawska, Prof Yuguo Li et al. – their scientific contribution was indispensable for this project. 

## References

[1] Jimenez, J. (2020), COVID-19 Data Dives: Why Arguments Against SARS-CoV-2 Aerosol Transmission Don't Hold Water https://www.medscape.com/viewarticle/934837?src=uc_mscpedt&faf=1.<br>
[2] Jimenez, J. (2020), Summary of the Evidence For and Against the Routes of Transmission of SARS-CoV-2. https://tinyurl.com/aerosol-pros-cons.<br>
[3] Miller SL, Nazaroff WW, Jimenez JL, et al. Transmission of SARS-CoV-2 by inhalation of respiratory aerosol in the Skagit Valley Chorale superspreading event. Indoor Air. 2020;00:1–10. https://doi.org/10.1111/ina.12751.<br>
[4] Gameiro da Silva, Manuel. (2020). An analysis of the transmission modes of COVID-19 in light of the concepts of Indoor Air Quality. 10.13140/RG.2.2.28663.78240.<br>
[5] Stephanie Taylor, (2019). Optimize Occupant Health, Building Energy Performance and Your Revenue Through Indoor-Air Hydration.<br> 
[6] REHVA COVID-19 guidance document, April 3, 2020.<br>
[7] Morawska, L, Milton, D. It Is Time to Address Airborne Transmission of Coronavirus Disease 2019 (COVID-19), Clinical Infectious Diseases, , ciaa939, https://doi.org/10.1093/cid/ciaa939.<br>
[8] Wei, Jianjian & Li, Yuguo. (2015). Enhanced spread of expiratory droplets by turbulence in a cough jet. Building and Environment. 93. 10.1016/j.buildenv.2015.06.018.<br> 
[9] Doremalen N et al. (2020). Aerosol and surface stability of HCoV-19 (SARS-CoV-6 2) compared to SARS-CoV-1. doi:10.1101/2020.03.09.20033217.<br>
[10] Bourouiba L., Turbulent Gas Clouds and Respiratory Pathogen Emissions: Potential Implications for Reducing Transmission of COVID-19. JAMA. Published online March 26, 2020. doi:10.1001/jama.2020.4756.<br>
[11] Fauci A. 2020. Transmission of SARS-CoV-2, Citizen by CNN.<br>
[12] Chen W. 9, Zhang N., et al. (2020) Short-range airborne route dominates exposure of respiratory infection during close contact. Building and Environment, Volume 176, 10.1016/j.buildenv.2020.10685.<br>
[13] Office of the Prime Minister and the Ministry of Health, Labor and Welfare of Japan, 2020.<br>
[14] World Health Organization holds news conference on coronavirus outbreak – 2/11/2020, min 41:40 - https://youtu.be/edvsh6x_f4Q.<br>
[15] WHO (2020). Transmission of SARS-CoV-2: implications for infection prevention precautions. WHO/2019-nCoV/Sci_Brief/Transmission_modes/2020.3.<br>
[16] Chapin, C. (1912). The sources and modes of infection. The Library of Congress urn:oclc:record:1085180298.<br>
[17] CERN Instruction on COVID-19 Health and Safety Measures, EDMS N. 2370903.<br>
[18] CERN instructions on COVID-19 related health and safety measures – Appendix A on HVAC, EDMS N. 2389839.<br>
[19] CDC, Scientific Brief: SARS-CoV-2 and Potential Airborne Transmission. https://www.cdc.gov/coronavirus/2019-ncov/more/scientific-brief-sars-cov-2.html.<br>
[20] Li, Yuguo et al. (2020). Evidence for probable aerosol transmission of SARS-CoV-2 in a poorly ventilated restaurant. 10.1101/2020.04.16.20067728.<br>
[21] Lu J, Gu J, Li K, et al. COVID-19 outbreak associated with air conditioning in restaurant, Guangzhou, China, 2020. Emerg Infect Dis. CDC - Volume 26, Number 7, 10.3201/eid2607.200764.<br>
[22] Shen Y, Li C, Dong H, et al. Community Outbreak Investigation of SARS-CoV-2 Transmission Among Bus Riders in Eastern China. JAMA Intern Med. Published online September 01, 2020. doi:10.1001/jamainternmed.2020.5225.<br>
[23] Park S, Kim Y, Yi S, et al. Coronavirus Disease Outbreak in Call Center, South Korea. Emerging Infectious Diseases. 2020;26(8):1666-1670. doi:10.3201/eid2608.201274.<br>
[24] Liu, Y., Ning, Z., Chen, Y. et al. Aerodynamic analysis of SARS-CoV-2 in two Wuhan hospitals. Nature (2020). 10.1038/s41586-020-2271-3.<br>
25] Twitter @EmmanuelMacron https://twitter.com/EmmanuelMacron/status/1316485827715829762?s=20.<br>
[26] Gao, X., Li, Y. and Leung, G.M., 2009. Ventilation control of indoor transmission of airborne diseases in an urban community. Indoor and Built Environment , 18(3), pp.205 -218.<br>
[27] Zhu S, Jenkins S, Addo K, et al. Ventilation and laboratory confirmed acute respiratory infection (ARI) rates in college residence halls in College Park, Maryland. Environment International. 2020;137:105537. doi:10.1016/j.envint.2020.105537.<br>
[28] Perry J.L., et al. Submicron and Nanoparticulate Matter Removal by HEPA-Rated Media Filters and Packed Beds of Granular Materials. NASA/TM—2016–218224.<br>
[29] Julian W. Tang, et al. (2009) A schlieren optical study of the human cough with and without wearing masks for aerosol infection control J . R. Soc. Interface.6S727–S736. 10.1098/rsif.2009.0295.focus.<br>
[30] Buonanno, G., et al. (2020) “Estimation of airborne viral emission: Quanta emission rate of SARS-CoV-2 for infetion risk assessment”, https://doi.org/10.1016/j.envint.2020.105794.<br>
[31] Buonanno, G., et al. (2020) “Quantitative assessment of the risk of airborne transmission of SARS-CoV-2 infection: Prospective and retrospective applications ”, https://doi.org/10.1016/j.envint.2020.106112.<br>
[32] Gammaitoni, L. et al. (1997) “Using a mathematical model to evaluate the efficacy of TB control measures.”, Emerg. Infect. Dis. (1997), pp. 335-342, https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2627642.<br>
[33] Huang, J.T., et al. (2007) “Evaluation of the Efficiency of Medical Masks and the Creation of  New Medical Masks.”, J. Int. Medical Research, 35: 213 – 223, https://doi.org/10.1177/147323000703500205.<br>
[34] Morawska, L. et al. (2009), “Size distribution and sites of origin of droplets expelled from the human respiratory tract during expiratory activities”, J. Aerosol Science, 256-269, https://doi.org/10.1016/j.jaerosci.2008.11.002.<br>
[35] Riley, E.C., et al. (1978), “Airborne spread of measles in a suburban elementary school.”, Am. J. Epidemiol. 107, 421–432, https://doi.org/10.1093/oxfordjournals.aje.a112560.<br>
[36] Sze To, G.N., Chao, C.Y.H. (2010). “Review and comparison between the Wells-Riley and dose-response approaches to risk assessment of infectious respiratory diseases.” Indoor Air 20, 2–16. https://doi.org/10.1111/j.1600-0668.2009.00621.x.<br>
[37] Wells, W.F., (1934). “On airborne infection: study II. Droplets and Droplet nuclei.” Am. J. Epidemiol. 20, 611–618. https://doi.org/10.1093/oxfordjournals.aje.a118097.<br>
[38] Wells, W.F. (1955). “Airborne contagion and air hygiene. Cambridge, MA: Harvard University Press”, https://doi.org/10.1111/j.1746-1561.1955.tb08015.x.<br>
[39] EL PAIS, An analysis of three Covid-19 outbreaks: how they happened and how they can be avoided. https://english.elpais.com/spanish_news/2020-06-17/an-analysis-of-three-covid-19-outbreaks-how-they-happened-and-how-they-can-be-avoided.html?ssm=TW_CC.<br> 
[40] WHO. Avoid the three C’s – Be aware of different levels of risk in different settings. https://www.who.int/images/default-source/wpro/countries/malaysia/infographics/three-3cs/final-avoid-the-3-cs-poster.tmb-1920v.jpg?sfvrsn=638335c1_1.<br>
[41] Miller, S. Germicidal Ultraviolet Light (Radiation) for Reducing Disease Transmission. https://shellym80304.files.wordpress.com/2020/05/isiaq-guv-2-compiled.pdf
[42] CDC. How COVID-19 Spreads. https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/how-covid-spreads.html.<br>
[43]  Thomas, Y. et al. (2014). Survival of influenza virus on human fingers. Clin  Microbiol  Infect ;20: O58–O64 10.1111/1469-0691.12312.<br>
[44] Tang, J. (2020). The Guardian, Understanding 'aerosol transmission' could be key to controlling coronavirus. https://www.theguardian.com/commentisfree/2020/oct/28/understanding-aerosol-transmission-key-controlling-coronavirus-wash-hands.<br>
[45] Johnson, G.R. et al. Modality of human expired aerosol size distributions. Journal of Aerosol Science 42 (2011) 839–851840, doi:10.1016/j.jaerosci.2011.07.009.<br>
[46] Li, Yuguo (2020). SARS-CoV-2 airborne transmission is opportunistic and ventilation works. University of Hong Kong. COVID-19 zoom conference. https://www.hku.hk/f/upload/21292/HKU%20Covid-19%20Zoom%20conference.pdf.<br>
[47] Marr, L. (2020). Aerosol and Transmission of Respiratory Viruses 101, Airborne Transmission of SARS-CoV-2: A Virtual Workshop. https://www.nationalacademies.org/event/08-26-2020/airborne-transmission-of-sars-cov-2-a-virtual-workshop?s=09 .<br>
[48] Morawska, L. (2006). Droplet fate in indoor environments, or can we prevent the spread of infection?. Indoor Air, Volume: 16, Issue: 5, Pages: 335-347, doi:10.1111/j.1600-0668.2006.00432.x.<br>
[49] Marr, L.C., Tang, J.W., Van Mullekom, J., et al., 2019, Mechanistic insights into the effect of humidity on airborne influenza virus survival, transmission and incidence, J Roy Soc Interface. https://doi.org/10.1098/rsif.2018.0298.<br>
[50] Roy C, Milton D, Airborne Transmission of Communicable Infection — The Elusive Pathway, N Engl J Med 2004; 350:1710-1712, doi: 10.1056/NEJMp04805.<br>
[51] Hui, K. P. Y. et al. (2020), Tropism, replication competence, and innate immune responses of the coronavirus SARS-CoV-2 in human respiratory tract and conjunctiva: an analysis in ex-vivo and in-vitro cultures, Lancet Respir Med, Volume 8, Issue 7, Pages 687-695, doi:10.1016/S2213-2600(20)30193-4.<br>
[52] Morawska, Lidia & Cao, Junji. (2020). Airborne transmission of SARS-CoV-2: The world should face the reality. Environment International. 139. 105730. 10.1016/j.envint.2020.105730.<br>
[53] Milton D.,, A Rosetta Stone for Understanding Infectious Drops and Aerosols, Journal of the Pediatric Infectious Diseases Society, Volume 9, Issue 4, 1 September 2020, Pages 413–415, https://doi.org/10.1093/jpids/piaa079.<br>
[54] Leung, N.H.L et al. Respiratory virus shedding in exhaled breath and efficacy of face masks. Nat Med (2020). 10.1038/s41591-020-0843-2.<br>
[55] Asadi, S., Cappa, C.D., Barreda, S. et al. Efficacy of masks and face coverings in controlling outward aerosol particle emission from expiratory activities. Sci Rep 10, 15665 (2020). https://doi.org/10.1038/s41598-020-72798-7.<br>
[56] Endo A, Abbott S et al. Estimating the overdispersion in COVID-19 transmission using outbreak sizes outside China [version 3; peer review: 2 approved]. Wellcome Open Res 2020, 5:67. doi:10.12688/wellcomeopenres.15842.3.<br>
