<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
  {% block title %}
  CARA | COVID Airborne Risk Assessment
  {% endblock title %}
  </title>

  {# <link rel="stylesheet" href="/static/css/bootstrap.css"> #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

  {% block extra_headers %}
  {% endblock extra_headers %}
</head>

<body>
  <div class="top-bar">
    <div class="container">
      <div class="col-12 text-left">
        <p><a href="https://againstcovid19.cern/welcome#main-content">CERN Against COVID-19</a></p>
      </div>
    </div>
  </div>

  <nav class="navbar bg-dark navbar-dark navbar-expand-lg">
    <div class="container">

      <a href="/" class="navbar-brand"><img src="/static/images/cara_logo_white_text.png" alt="Logo" title="Logo"></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="{{ "nav-link active" if "home/" == active_page else "nav-link" }}">Home</a></li>
          <li class="nav-item"><a href="{{ calculator_prefix }}" class="{{ "nav-link active" if "calculator/" == active_page else "nav-link" }}">COVID Calculator</a></li>
          <li class="nav-item"><a href="{{ calculator_prefix }}/user-guide" class="{{ "nav-link active" if "user-guide" in active_page else "nav-link" }}">User Guide</a></li>
          <li class="nav-item"><a href="https://hse.cern/covid-19-information" class="nav-link">COVID Information</a></li>
          <li class="nav-item"><a href="/about" class="{{ "nav-link active" if "about" == active_page else "nav-link" }}">About</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main role="main">
    {% block main %}
    {% endblock main %}
  </main>

  <footer>
    <div class="container">
      <div class="row text-light text-center py-4 justify-content-center">

        <div class="col-sm-10 col-md-8 col-lg-6">
          <img src="/static/images/cara_logo_white_text.png" alt="Logo">
          <p><span style="font-size:10px;"><em>CERN strives to deploy its know-how and technologies to help solve
                    the challenges arising in the local and global fight against COVID-19. As a particle physics
                    research organisation, CERN is not in a position to advise on medical research, health or health
                    policy issues. Any initiative is conducted on a best effort and as-is basis, without liability or
                    warranty.</em></span></p>
          <p style="font-size:10px;">
              CARA is <a href="https://gitlab.cern.ch/cara/cara/-/blob/master/LICENSE" class="ext">Apache 2.0 licensed</a> open-source
              software developed at CERN.
              You can find the source code at <a href="https://gitlab.cern.ch/cara/cara">https://gitlab.cern.ch/cara/cara</a>,
              where we welcome contributions, feature requests and issue reports.
          </p>
        </div>

      </div>
    </div>
  </footer>

  {# <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script> #}
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <!-- Bootstrap 4.5 JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Font Awesome -->
	<script src="js/all.min.js"></script>
  {# <script>if (window.module) module = window.module;</script> #}

  {% block body_scripts %}
  {% endblock body_scripts %}

</body>
</html>
