{% extends "base/calculator.report.html.j2" %}


{% block report_preamble %}
  <p><strong>Applicable rules: <br>
  Please ensure that this scenario conforms to current COVID-related <a href="https://hse.cern/covid-19-information"> Health & Safety requirements</a>, under the applicable COVID Scale and measures in force at the time of the CARA assessment.</strong> <br>
  The results of this simulation are colour coded according to the risk values authorized at CERN (approved in December 2020):
  <ul><li>Events with a <span class="green_bkg">P(i) less than 5%</span> may go ahead without further mitigation measures.</li>
    <li>Events with a <span class="yellow_bkg">P(i) between 5% and 15%</span> shall be subject to ALARA principles (see footnote) to minimise the risk before proceeding.</li>
    <li>Events with a <span class="red_bkg">P(i) exceeding 15% or a number of expected new cases that exceeds 1</span> may not take place until additional measures are in place and a risk reduction has been performed.</li>
  </ul>
  </p>
{% endblock report_preamble %}


{% block report_summary %}
 <span
{% if ((prob_inf > 15) or (expected_new_cases >= 1)) %}
    class="red_bkg"><strong>Not Acceptable:</strong>
{% elif 5 <= prob_inf <= 15 %}
    class="yellow_bkg"><strong> Attention:</strong>
{% elif prob_inf < 5 %}
    class="green_bkg">Acceptable:
{% endif %}
 </span>

{{ super() }}

{% if (prob_inf > 5) %}
	<div class="flex" style="width:60%; align-self:center">
  {% if scale_warning.level == "Green - 1" %}  
    <img class="warning_image_png" src="{{ calculator_prefix }}/static/images/warning_scale/Level1.png">
    <div class="alert alert-dark warning_text" role="alert">
      Note: the current CERN COVID Scale is <b>Green - 1</b>, which means the incidence rate in the local community is <b>{{scale_warning.incidence_rate}}</b>. Align your risk assessment with the guidance and instructions provided by the HSE Unit.  
    </div>
  {% elif scale_warning.level == "Yellow - 2" %}
    <img class="warning_image_png" src="{{ calculator_prefix }}/static/images/warning_scale/Level2.png">
    <div class="alert alert-dark warning_text" role="alert">
      Note: the current CERN COVID Scale is <b>Yellow - 2</b>, which means the incidence rate in the local community is <b>{{scale_warning.incidence_rate}}</b>. There is a reduced chance that asymptomatic or pre-symptomatic infected individuals circulate within the CERN site which, during this stage, corresponds to an average daily on-site access {{scale_warning.onsite_access}}. See with your supervisor if this scenario is acceptable.
    </div>
  {% elif scale_warning.level == "Orange - 3" %}
    <img class="warning_image_png" src="{{ calculator_prefix }}/static/images/warning_scale/Level3.png">
    <div class="alert alert-dark warning_text" role="alert">
      Warning: the current CERN COVID Scale is <b>Orange - 3</b>, which means the incidence rate in the local community is <b>{{scale_warning.incidence_rate}}</b>. There is a slight chance that asymptomatic or pre-symptomatic infected individuals circulate within the CERN site which, during this stage, corresponds to an average daily on-site access {{scale_warning.onsite_access}}. See with your supervisor if any additional measures can be applied (ALARA).
    </div>
  {% elif scale_warning.level == "Red - 4" %}
    <img class="warning_image_png" src="{{ calculator_prefix }}/static/images/warning_scale/Level4.png">
    <div class="alert alert-dark warning_text" role="alert">
      Warning: the current CERN COVID Scale is <b>Red - 4</b>, which means the incidence rate in the local community is <b>{{scale_warning.incidence_rate}}</b>. There is a strong chance that asymptomatic or pre-symptomatic infected individuals circulate within the CERN site which, during this stage, corresponds to an average daily on-site access {{scale_warning.onsite_access}}. Please reduce the value below the threshold of <b>{{scale_warning.threshold}}</b>.
    </div>
  {% else %}
    <p><b>Note:</b> The CERN COVID Level is not specified.</p>
  {% endif %}
  </div>
    
{% endif %}

{% if ((prob_inf > 15) or (expected_new_cases >= 1)) %}
  This exceeds the authorised risk threshold or number of expected new cases.
  The risk level must be reduced before this activity can be undertaken.
{% elif (5 <= prob_inf <= 15) %}
  This activity has an elevated level of risk, ALARA principles must be applied to minimise the level of risk before undertaking the activity.
  See the footnotes for more details on the ALARA principles.
{% elif (prob_inf < 5) %}
  This level of risk is within acceptable parameters, no further actions are required.
{% endif %}
{% endblock report_summary %}


{% block report_scenarios_summary_table %}
        <table class="table w-auto">
            <thead class="thead-light">
                <tr>
                    <th>Scenario</th>
                    <th>P(i)</th>
                    <th>Expected new cases</th>
                </tr>
            </thead>
            <tbody>
            {% for scenario_name, scenario_stats in alternative_scenarios.stats.items() %}
                {%if (( scenario_stats.probability_of_infection  > 15) or (scenario_stats.expected_new_cases >= 1)) %}
                  <tr class="red_bkg">
                {% elif (5 <= scenario_stats.probability_of_infection <= 15) %}
                  <tr class="yellow_bkg">
                {% elif (scenario_stats.probability_of_infection < 5) %}
                  <tr class="green_bkg">
                {% endif%}
                    <td> {{ scenario_name }}</td>
                    <td> {{ scenario_stats.probability_of_infection | non_zero_percentage }}</td>
                    <td style="text-align:right">{{ scenario_stats.expected_new_cases | float_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock report_scenarios_summary_table %}


{% block report_footer %}
	<p class="data_text">
	    <strong> Footnotes for ALARA: </strong><br>
	    ALARA stands for As Low As Reasonably Achievable. It can be summarised based on 3 main points:
	    <ol>
	    	<li>Justification - any exposure of persons has to be justified </li>
	    	<li>Limitation - the personal doses have to be kept below the legal limits (in this case the CERN exposure limits)</li>
	    	<li>Optimisation - the personal doses and collective doses have to be kept as low as reasonably achievable (ALARA).</li>
	    </ol>
	    For more information, please refer to <a href="https://cds.cern.ch/record/1533023/files/CERN-2013-001-p415.pdf"> this document from CERN HSE </a> and <a href="https://www.cdc.gov/nceh/radiation/safety.html#:~:text=ALARA%20stands%20for%20%E2%80%9Cas%20low,time%2C%20distance%2C%20and%20shielding."> this publication from the CDC.</a> 
	    <br><br>
	</p>
    {{ super() }}

{% endblock report_footer %}

{% block disclaimer %}
    {{ super() }}
    <p>
        At CERN, CARA is intended for Members of Personnel with roles related to Supervision, Health & Safety or Space Management, in order to simulate the concerned workplaces on CERN sites.
    </p>
{% endblock disclaimer %}


</body>
</html>
